body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content {
    padding: 20px;
    font-size: 18px; /* Tamaño de letra general */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    color: #000; /* Color de texto negro */
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.success-message {
    color: #4CAF50; /* Color verde para el mensaje de éxito */
    font-size: 24px; /* Tamaño de letra para el mensaje de éxito */
}
