/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

/* Estilos para el encabezado */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilos para el botón de enlace interno */
.aviso-link {
    display: inline-block;
    background-color: #f0f0f0;
    color: #007bff;
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 3px;
}

.aviso-link:hover {
    background-color: #007bff;
    color: #fff;
}

/* Estilos para el aviso */
.aviso {
    text-align: center;
    color: #beb9b9;
}

/* Estilos para el formulario y secciones */
form, section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}
